.DS_Store
.artifacts/
.build/
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.moved-aside
*.ipa
*.dSYM.zip
*.dSYM
xcuserdata/
